/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}

/* START Signal leds definition */
.led-all {
	border-radius: 50%;
	box-shadow: #555d0d 0 0 1px 1px, #446f44 0 0 0, inset #e44949 0 0 0;
	height: .9em;
	width: .9em;
	margin-left: .6em;
}

.led-green {
	background-color: #86d686;
}

.led-red {
	background-color: #ff0000;
}

.led-gray {
	background-color: #bababa;
}
/* END Signal leds definition */

/* Add your styles here */
